In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [ ]:
#Here i am reading files from the document directory
filepath=r'C:\Users\user\Documents\prices.csv';
file=pd.read_csv (filepath);

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         12 non-null     int64
 1   DATE          12 non-null     object
 2   GOLD          12 non-null     float64
 3   CRUDE         12 non-null     float64
 4   EQUITY INDEX  12 non-null     float64
 5   MONTH         12 non-null     object
 6   DATE1         12 non-null     object
 7   new_date      0 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 688.0+ bytes

In [ ]:
#I am converting the DATE column to datetime64 from object format
file['DATE']= pd.to_datetime(file.DATE)

In [ ]:
#This shows the data type of each header(column)
file.dtypes

index                    int64
DATE            datetime64[ns]
GOLD                   float64
CRUDE                  float64
EQUITY INDEX           float64
MONTH                   object
DATE1                   object
new_date               float64
dtype: object

In [ ]:
#Here i am converting the datetime64 format to integer that is we get the day of the year through the date
a = file.DATE.dt.dayofyear
file.DATE.dtypes

dtype('<M8[ns]')

In [ ]:
#This is another column of format datetime64.I am repeating the same procedure, which was done for the column DATE
file['DATE1']= pd.to_datetime(file.DATE1)
file.DATE1.dtypes
file.dtypes

index                    int64
DATE            datetime64[ns]
GOLD                   float64
CRUDE                  float64
EQUITY INDEX           float64
MONTH                   object
DATE1           datetime64[ns]
new_date               float64
dtype: object

In [ ]:

b = file.DATE1.dt.dayofyear

print("columns are :" , column)
#Here i am getting the length of the column
n = len(file.columns)

0      14
1      40
2     -75
3     203
4     167
5     171
6     171
7    -181
8    -183
9      61
10     -2
11   -238
dtype: int64
columns are : Index(['index', 'DATE', 'GOLD ', 'CRUDE ', 'EQUITY INDEX', 'MONTH', 'DATE1',
       'new_date'],
      dtype='object')

In [ ]:
for i in file.columns:                
    #Here i am looping through all the columns in the csv file and searching datatime64 format column#
    #Once i get two datetime64 type column i am subtracting it and obtaining difference in days
    
    if(file[i].dtypes=='<M8[ns]'):
        print(file[i].dt.dayofyear)
        print(file[i])
        k = file.columns.get_loc(i)
        break
       
    
for j in file.columns:      
    if(file[j].dtypes=='<M8[ns]'):
        print(file[j].dt.dayofyear)
        print(file[j])
        l= file.columns.get_loc(j)
        
        if(k != l):
            print(file[j]-file[i])

#This field at the end of the compiler represents the difference in days
#0      14 days
#1      40 days
#2     -75 days
#3     203 days
#4     167 days
#5     171 days
#6     171 days
#7    -181 days
#8    -183 days
#9      61 days
#10     -2 days
#11   -238 days

0      22
1      53
2      82
3     112
4     144
5     144
6     175
7     205
8     236
9     297
10    328
11    358
Name: DATE, dtype: int64
0    2019-01-22
1    2019-02-22
2    2019-03-23
3    2019-04-22
4    2019-05-24
5    2019-05-24
6    2019-06-24
7    2019-07-24
8    2019-08-24
9    2019-10-24
10   2019-11-24
11   2019-12-24
Name: DATE, dtype: datetime64[ns]
0      22
1      53
2      82
3     112
4     144
5     144
6     175
7     205
8     236
9     297
10    328
11    358
Name: DATE, dtype: int64
0    2019-01-22
1    2019-02-22
2    2019-03-23
3    2019-04-22
4    2019-05-24
5    2019-05-24
6    2019-06-24
7    2019-07-24
8    2019-08-24
9    2019-10-24
10   2019-11-24
11   2019-12-24
Name: DATE, dtype: datetime64[ns]
0      36
1      93
2       7
3     315
4     311
5     315
6     346
7      24
8      53
9     358
10    326
11    120
Name: DATE1, dtype: int64
0    2019-02-05
1    2019-04-03
2    2019-01-07
3    2019-11-11
4    2019-11-07
5    2019-11-11
6    2019-12-12
7    2019-01-24
8    2019-02-22
9    2019-12-24
10   2019-11-22
11   2019-04-30
Name: DATE1, dtype: datetime64[ns]
0      14 days
1      40 days
2     -75 days
3     203 days
4     167 days
5     171 days
6     171 days
7    -181 days
8    -183 days
9      61 days
10     -2 days
11   -238 days
dtype: timedelta64[ns]